@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900;
  }

  .disabled {
    opacity: 0.1;
    pointer-events: none;
  }

  a {
    @apply text-blue-500;
  }

  .modal-content ol {
    list-style: auto;
    margin: revert;
    padding: revert;
    padding-left: 1rem;
  }
}
